<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="WindowsServiceSettings" type="EasyServiceHost.WindowsServiceSettings, EasyServiceHost" />
		<section name="ManagedServiceSettings" type="EasyServiceHost.ManagedServiceSettings, EasyServiceHost" />
	</configSections>
	<WindowsServiceSettings ServiceName="ManualTester" DisplayName="Easy Service Host manual tester" />
	<ManagedServiceSettings BootstrapClass="ManualTester.Bootstrap, ManualTester" />
</configuration>