<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="WindowsServiceSettings" type="EasyServiceHost.WindowsServiceSettings, EasyServiceHost"/>
	</configSections>

	<WindowsServiceSettings ServiceName="EasyServiceHost35" DisplayName="Easy Service Host (3.5)" />

	<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
