<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="WindowsServiceSettings" type="EasyServiceHost.WindowsServiceSettings, EasyServiceHost"/>
	</configSections>

	<WindowsServiceSettings ServiceName="EasyServiceHost40" DisplayName="Easy Service Host (4.0)" />

	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
